<div class="top-wrapper">
        <div class="top-inner-text">
            <h1 class="heading">Welcome to Rehabili Tracking App</h1>
            <br>
            <p class="sub-heading">これからリハビリを頑張っていきましょう</p>
            <p class="sub-heading">今日から回復の旅へ出かけましょう！</p>
            <br>
            <p>まずは新規作成ページから自分のアカウントを作りましょう</p>
        </div>
</div>