<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title text-center">パスワードリセット申請</h1>
        </div>
        <div class="card-body">
          <%= form_with url: password_resets_path, local: true do |f| %>
            <div class="form-group">
              <%= f.label :email, class: 'font-weight-bold' %>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="text-center">
              <%= f.submit "送信", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>