<div class="container text-center">
  <h1 class="my-5">日毎の進捗詳細</h1>
  
  <div class="card mb-3 shadow-sm">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: normal;">年月日:<%= @exercise_progresses.date %></h5>
    </div>
  </div>

  <h2 class="my-5">実施している自主訓練メニュー</h2>
  <% @exercise_plans.each do |exercise_plan| %>
    <div class="card mb-3 shadow">
      <div class="card-body">
        <h5 class="card-title"><%= exercise_plan.training_menu %></h5>
      </div>
    </div>
  <% end %>

  <h2 class="text-center my-4">自主訓練をして感じたこと</h2>
  <div class="card mb-3 shadow-lg">
    <div class="card-body">
      <p class="card-text"><%= @exercise_progresses.progresse_keep %></p>
    </div>
  </div>

  <h2 class="my-5">セラピストからコメント</h2>
  <% @exercise_progress_comments.each do |comment| %>
    <div class="card mb-3 shadow">
      <div class="card-body">
        <p><%= comment.comment %></p>
      </div>
    </div>
  <% end %>
</div>
