<div class="container">
        <h1>Welcome to the Link Page</h1>
        <ul>
            <li><%= link_to 'プロフィール', new_profile_path %></li>
            <li><%= link_to 'プラン確認', '#' %></li>
            <li><%= link_to '進捗確認ダッシューボード', '#' %></li>
            <li><%= link_to 'パスワード変更', '#' %></li>
        </ul>
    </div>