<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">

    <%= link_to 'rehabili tracing app', "#", class: 'navbar-brand' %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="navbar-nav ml-auto main-nav align-items-center ">
          <%= link_to 'TOPページ', '#', class: 'nav-link' %>
          <%= link_to '新規作成ページ', '#', class: 'nav-link' %>
          <%= link_to 'ログインページ', '#', class: 'nav-link' %>
      </div>
  </nav>
</header>