<h1><%= @training_menu.title %></h1>
<p>
  <%= @training_menu.description %>
</p>

<!-- ここで、関連する投稿へのリンクや情報を表示することもできます -->
<%= link_to '新規投稿を追加', new_training_menu_post_path(@training_menu) %>

<!-- 既存の投稿をリストアップする -->
<% @training_menu.posts.each do |post| %>
  <div>
    <p><%= post.content %></p>
    <!-- 投稿の詳細へのリンクや編集・削除など、必要なアクションへのリンクを追加できます -->
  </div>
<% end %>