<table class="table table-striped">
  <thead>
    <tr>
      <th>月</th>
      <th>最終更新日</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% current_month = Date.new(Date.today.year, 1, 1) %> <!-- 一月からスタート -->
    <% 12.times do %>
      <tr>
        <td><%= current_month.strftime('%B') %></td>
        <td>
          <% if @last_updates[current_month] %>
            <%= @last_updates[current_month].strftime('%Y-%m-%d %H:%M:%S') %>
          <% else %>
            データがありません
          <% end %>
        </td>
        <td>
          <%= link_to exercise_progresses_path(year: current_month.year, month: current_month.month), class: "btn btn-primary btn-sm" do %>
            <i class="fas fa-info-circle"></i> 詳細
          <% end %>
        </td>
      </tr>
      <% current_month = current_month.next_month %> <!-- 次の月に移動 -->
    <% end %>
  </tbody>
</table>