<table class="table table-striped">
  <thead>
    <tr>
      <th>月</th>
      <th>最終更新日</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_data.each do |data| %>
      <tr>
        <td><%= data[:month] %></td>
        <td><%= data[:last_update] %></td>
        <td>
          <%= link_to '詳細', exercise_progresses_path(month: data[:month]), class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>