<h1>Training Menu Titles</h1>
<%= form_with model: @post, local: true do |form| %>
  <ul>
    <% Array(@titles).each_with_index do |title, index| %>
      <li>
        <%= form.label :title, title %>
        <%= form.text_area :description, id: "comments_#{index}", placeholder: "Enter your comment for #{title}" %>
      </li>
    <% end %>
  </ul>
  <div class="actions">
    <%= form.submit "Submit All Comments", class: "submit-btn" %>
  </div>
<% end %>