<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary mb-3">

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to t('defaults.logout'), admin_logout_path, class: 'nav-link', method: :delete %>
    </li>
  </ul>
</nav>
<!-- /.navbar -->